openapi: 3.1.0
info:
  title: T-Ride Platform API
  version: 1.0.0
  description: |
    Thailand Travel Platform — Airport Transfer & future travel services.
    Aligns with Database Design v1.1 and API Contract v1.0.
    Base path `/api/v1`. JWT Bearer authentication.
  contact:
    name: T-Ride API Support
    email: support@ttaxi.com

jsonSchemaDialect: https://spec.openapis.org/oas/3.1/dialect/base

servers:
  - url: https://api.ttaxi.com/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local development

tags:
  - name: Authentication
    description: Register, login, token refresh
  - name: Customer
    description: Customer profile and bookings
  - name: Booking
    description: Reservations, pricing, vehicle recommendation
  - name: Driver
    description: Driver app — assignments, location, status
  - name: Vehicle
    description: Vehicle types and pricing
  - name: Airport
    description: Airport master data
  - name: Golf
    description: Golf courses and regions
  - name: Chat
    description: Chat rooms and messages
  - name: Notification
    description: Push and in-app notifications
  - name: Admin
    description: Admin panel operations
  - name: Settings
    description: Public and admin settings
  - name: Translation
    description: i18n bundles
  - name: Proxy
    description: Google Places and flight lookup proxies
  - name: Health
    description: Service health check

security:
  - bearerAuth: []

paths:
  /health:
    get:
      tags: [Health]
      summary: Health check
      description: Returns API availability and version. No authentication required.
      security: []
      operationId: getHealth
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseHealth'
              examples:
                ok:
                  value:
                    success: true
                    message: OK
                    data:
                      status: ok
                      version: 1.0.0
                      timestamp: '2026-07-01T10:00:00+07:00'

  /health/readiness:
    get:
      tags: [Health]
      summary: Readiness check
      description: Returns non-sensitive readiness checks for staging operations. Optional integrations are reported but do not fail readiness.
      security: []
      operationId: getReadiness
      responses:
        '200':
          description: Service is ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseReadiness'
        '503':
          description: Required dependency is degraded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseReadiness'

  /auth/register:
    post:
      tags: [Authentication]
      summary: Register customer
      description: Create a new CUSTOMER account and return JWT tokens.
      security: []
      operationId: authRegister
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            examples:
              default:
                value:
                  email: user@example.com
                  password: secret123
                  name: Kim Traveler
                  phone: '+821012345678'
                  countryCode: KR
                  locale: ko
      responses:
        '201':
          description: Registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAuthToken'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/DuplicateError'

  /auth/login:
    post:
      tags: [Authentication]
      summary: Login
      description: Authenticate Customer, Driver, or Admin and return JWT tokens.
      security: []
      operationId: authLogin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              customer:
                value:
                  email: user@example.com
                  password: secret123
              driverPhone:
                value:
                  phone: '+66123456789'
                  password: secret123
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAuthToken'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
      security: []
      operationId: authRefresh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: New access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRefreshToken'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Authentication]
      summary: Logout
      description: Invalidate refresh token session.
      operationId: authLogout
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessEmpty'

  /auth/me:
    get:
      tags: [Authentication]
      summary: Get current user
      operationId: authMe
      responses:
        '200':
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUser'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /customer/profile:
    get:
      tags: [Customer]
      summary: Get customer profile
      operationId: getCustomerProfile
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCustomerProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    patch:
      tags: [Customer]
      summary: Update customer profile
      operationId: updateCustomerProfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerProfileRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCustomerProfile'
        '400':
          $ref: '#/components/responses/ValidationError'

  /customer/bookings:
    get:
      tags: [Customer]
      summary: List my bookings
      operationId: listCustomerBookings
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/ReservationStatus'
        - name: fromDate
          in: query
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBookingSummaryPagination'

  /bookings/vehicle/recommend:
    post:
      tags: [Booking]
      summary: Recommend vehicle
      description: Calculate recommended vehicle type from passengers and luggage (PRD rules).
      security: []
      operationId: recommendVehicle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleRecommendationRequest'
            examples:
              family:
                value:
                  adults: 2
                  children: 1
                  infants: 0
                  carriers20Inch: 2
                  carriers24InchPlus: 1
                  golfBags: 0
      responses:
        '200':
          description: Recommendation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseVehicleRecommendation'
              examples:
                suv:
                  value:
                    success: true
                    message: OK
                    data:
                      recommendedVehicleType: SUV
                      vehicleCount: 1
                      multiVehicle: false
                      assignments:
                        - vehicleType: SUV
                          count: 1
                      selectableVehicleTypes:
                        - SUV
                        - VIP_SUV
                        - VAN
        '400':
          $ref: '#/components/responses/ValidationError'

  /bookings/pricing/calculate:
    post:
      tags: [Booking]
      summary: Calculate booking price
      description: Preview charge line items and total before creating booking.
      security: []
      operationId: calculateBookingPrice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PricingCalculateRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePricingResult'
        '422':
          $ref: '#/components/responses/VehicleNotSelectable'

  /bookings:
    post:
      tags: [Booking]
      summary: Create booking
      description: |
        Creates booking, charge items, chat room, activity log.
        Server generates `bookingNumber` (TXYYYYMMDD0001). Client must not generate it.
      security: []
      operationId: createBooking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingRequest'
            examples:
              airportPickup:
                $ref: '#/components/examples/BookingRequestAirportPickup'
      responses:
        '201':
          description: Booking created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBookingCreated'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/DuplicateBooking'
        '422':
          $ref: '#/components/responses/VehicleNotSelectable'
    get:
      tags: [Booking]
      summary: List bookings
      description: Scoped by role — Customer own, Driver assigned, Admin all.
      operationId: listBookings
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          schema:
            type: string
          description: Single or comma-separated ReservationStatus
        - name: serviceTypeCode
          in: query
          schema:
            $ref: '#/components/schemas/ServiceType'
        - name: fromDate
          in: query
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          schema:
            type: string
            format: date
        - name: customerEmail
          in: query
          schema:
            type: string
            format: email
          description: Admin only
        - name: driverId
          in: query
          schema:
            type: integer
            format: int64
          description: Admin only
        - name: search
          in: query
          schema:
            type: string
          description: Admin — bookingNumber, name, phone
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBookingSummaryPagination'

  /bookings/{bookingNumber}:
    get:
      tags: [Booking]
      summary: Get booking detail
      deprecated: true
      description: >
        Not implemented in MVP. Use booking-scoped endpoints under
        /bookings/{bookingNumber}/ (notifications, chat, review, dropoff QR).
        Guest tokens must use X-Guest-Access-Token header, not URL query.
      operationId: getBooking
      security:
        - bearerAuth: []
        - guestBookingAccess: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
        - name: email
          in: query
          schema:
            type: string
            format: email
          description: Guest access
        - name: guestAccessToken
          in: query
          schema:
            type: string
          description: Guest access token from create response
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBookingResponse'
        '403':
          $ref: '#/components/responses/BookingNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Booking]
      summary: Update booking
      description: Limited fields. Customer only when PENDING; Admin broader access.
      operationId: updateBooking
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingUpdateRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBookingResponse'
        '409':
          $ref: '#/components/responses/InvalidStatusTransition'

  /bookings/{bookingNumber}/dropoff-qr/issue:
    post:
      tags: [Booking]
      summary: Issue customer dropoff QR
      description: >
        Requires authenticated customer ownership or a valid guestAccessToken in
        the JSON body. Booking must be PICKED_UP. Each successful issue returns
        a new raw dropoff QR token, stores only its hash, and invalidates any
        previously issued unused dropoff QR token.
      operationId: issueDropoffQr
      security:
        - bearerAuth: []
        - guestBookingAccess: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DropoffQrIssueRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDropoffQrIssue'
        '403':
          $ref: '#/components/responses/BookingNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/InvalidStatusTransition'

  /bookings/{bookingNumber}/review:
    get:
      tags: [Booking]
      summary: Get review eligibility and submitted review
      description: >
        Requires authenticated customer JWT (Bearer) or guest access via
        X-Guest-Access-Token header. Never send guest tokens in URL path or
        query parameters. Exactly one review per booking. Booking number alone
        without authorization returns 403. Customer responses never include
        hiddenReason or reviewer identity.
      operationId: getBookingReview
      security:
        - bearerAuth: []
        - guestReviewAccessHeader: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBookingReviewState'
        '403':
          $ref: '#/components/responses/BookingNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags: [Booking]
      summary: Submit booking review
      description: >
        Booking must be COMPLETED with an assigned driver. Authenticated
        customers use JWT Bearer. Guests pass guestAccessToken in the JSON
        request body only (never in URL). Rating integer 1-5. Comment optional,
        max 500 characters. Duplicate submission returns REVIEW_ALREADY_SUBMITTED.
        driverId and moderation fields are server-derived and cannot be set by
        the client.
      operationId: submitBookingReview
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitReviewRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBookingReviewState'
        '400':
          description: INVALID_RATING or comment validation error
        '403':
          $ref: '#/components/responses/BookingNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: REVIEW_NOT_ELIGIBLE or REVIEW_ALREADY_SUBMITTED

  /bookings/{bookingNumber}/notifications:
    get:
      tags: [Booking]
      summary: List booking-scoped notifications
      description: >
        Authenticated customer owner or guest via X-Guest-Access-Token header.
        Guest access returns only notifications for this booking.
      operationId: listBookingNotifications
      security:
        - bearerAuth: []
        - guestReviewAccessHeader: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
        - name: unreadOnly
          in: query
          schema:
            type: boolean
        - name: notificationType
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedNotificationList'
        '403':
          $ref: '#/components/responses/BookingNotAccessible'

  /bookings/{bookingNumber}/chat:
    get:
      tags: [Booking]
      summary: Get booking chat room
      description: >
        Customer owner, guest (X-Guest-Access-Token header), assigned driver, or admin.
        Terminal bookings (COMPLETED, CANCELLED, NO_SHOW) remain readable but read-only for sending.
      operationId: getBookingChatRoom
      security:
        - bearerAuth: []
        - guestReviewAccessHeader: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChatRoom'
        '403':
          description: CHAT_NOT_ACCESSIBLE

  /bookings/{bookingNumber}/chat/messages:
    get:
      tags: [Booking]
      summary: List booking chat messages
      operationId: listBookingChatMessages
      security:
        - bearerAuth: []
        - guestReviewAccessHeader: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
        - name: cursor
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
            maximum: 100
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChatMessageList'
    post:
      tags: [Booking]
      summary: Send booking chat message
      description: >
        Plain text only, max 2000 characters. clientMessageId is required for idempotent retries.
      operationId: sendBookingChatMessage
      security:
        - bearerAuth: []
        - guestReviewAccessHeader: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatSendMessageRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChatMessage'
        '409':
          description: CHAT_READ_ONLY

  /bookings/{bookingNumber}/chat/read:
    post:
      tags: [Booking]
      summary: Mark booking chat messages read up to message ID
      operationId: markBookingChatRead
      security:
        - bearerAuth: []
        - guestReviewAccessHeader: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMarkReadRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChatReadState'

  /customer/notifications:
    get:
      tags: [Customer]
      summary: List authenticated customer notifications
      operationId: listCustomerNotifications
      security:
        - bearerAuth: []
      parameters:
        - name: unreadOnly
          in: query
          schema:
            type: boolean
        - name: notificationType
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedNotificationList'
  /customer/notifications/unread-count:
    get:
      tags: [Customer]
      summary: Customer unread notification count
      operationId: customerNotificationUnreadCount
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnreadCount'
  /customer/notifications/read-all:
    post:
      tags: [Customer]
      summary: Mark all customer notifications read
      operationId: customerNotificationsReadAll
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseMarkAllRead'
  /customer/notifications/{notificationId}/read:
    post:
      tags: [Customer]
      summary: Mark customer notification read
      operationId: customerNotificationRead
      security:
        - bearerAuth: []
      parameters:
        - name: notificationId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotificationRead'

  /bookings/{bookingNumber}/cancel:
    post:
      tags: [Booking]
      summary: Cancel booking
      operationId: cancelBooking
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelBookingRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBookingResponse'
        '409':
          $ref: '#/components/responses/InvalidStatusTransition'

  /bookings/{bookingNumber}/status:
    patch:
      tags: [Booking]
      summary: Change booking status
      description: State machine enforced. See ReservationStatus transitions in API docs.
      operationId: changeBookingStatus
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingStatusChangeRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBookingResponse'
        '409':
          $ref: '#/components/responses/InvalidStatusTransition'

  /bookings/{bookingNumber}/charges:
    get:
      tags: [Booking]
      summary: Get charge line items
      operationId: getBookingCharges
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChargeItems'
    post:
      tags: [Booking]
      summary: Add charge line item
      description: Admin only — toll, driver extra, etc.
      operationId: addBookingCharge
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeItemCreateRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChargeItemCreated'

  /bookings/{bookingNumber}/activity-logs:
    get:
      tags: [Booking]
      summary: Get booking activity logs
      description: Admin only — CS audit trail.
      operationId: getBookingActivityLogs
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseActivityLogList'

  /bookings/{bookingNumber}/status-logs:
    get:
      tags: [Booking]
      summary: Get status change history
      operationId: getBookingStatusLogs
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseStatusLogList'

  /driver/online:
    post:
      tags: [Driver]
      summary: Set driver online
      description: Authenticated DRIVER only. Sets work status online without requiring GPS.
      operationId: driverOnline
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverStatus'
        '409':
          description: Driver suspended or settlement blocked

  /driver/offline:
    post:
      tags: [Driver]
      summary: Set driver offline
      description: Authenticated DRIVER only. Rejected with 409 while an active trip is assigned.
      operationId: driverOffline
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverStatus'
        '409':
          description: Active job conflict

  /driver/status:
    get:
      tags: [Driver]
      summary: Get driver online status
      operationId: driverStatus
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverStatus'

  /driver/location:
    post:
      tags: [Driver]
      summary: Send driver location
      description: Heartbeat recommended every 10–30 seconds.
      operationId: driverLocation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverLocationRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverLocationAck'

  /driver/assignments:
    get:
      tags: [Driver]
      summary: List driver assignments
      operationId: listDriverAssignments
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          schema:
            type: string
            default: active
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverAssignmentPagination'

  /driver/bookings/today:
    get:
      tags: [Driver]
      summary: List today's assigned driver bookings
      description: Returns active bookings assigned to the authenticated DRIVER for the current Thailand service day.
      operationId: driverListTodayBookings
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverJobsToday'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /driver/bookings/{bookingNumber}:
    get:
      tags: [Driver]
      summary: Get assigned driver booking detail
      description: The authenticated DRIVER may only access active bookings assigned to that driver.
      operationId: driverGetBookingDetail
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverBookingDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /driver/bookings/{bookingNumber}/accept:
    post:
      tags: [Driver]
      summary: Accept an assigned booking
      description: |
        Accepts the authenticated driver's active assignment when the booking is
        DRIVER_ASSIGNED and the assignment is ASSIGNED. Repeating the request for
        the same already ACCEPTED assignment is an idempotent success and does not
        change acceptedAt. The booking status remains DRIVER_ASSIGNED.
      operationId: driverAcceptAssignedBooking
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      responses:
        '200':
          description: Booking assignment accepted or already accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverBookingAcceptance'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: DRIVER role required and driver account must be active
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                forbidden:
                  value:
                    success: false
                    error_code: FORBIDDEN
                    message: Insufficient permissions
                driverInactive:
                  value:
                    success: false
                    error_code: DRIVER_INACTIVE
                    message: Driver is inactive
        '404':
          description: Booking does not exist or is not assigned to this driver
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                bookingNotFound:
                  value:
                    success: false
                    error_code: BOOKING_NOT_FOUND
                    message: Booking not found
        '409':
          description: Booking or assignment state is not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                notAcceptable:
                  value:
                    success: false
                    error_code: BOOKING_NOT_ACCEPTABLE
                    message: Booking is not acceptable

  /driver/assignments/{assignmentId}/reject:
    post:
      tags: [Driver]
      summary: Reject assignment
      operationId: rejectAssignment
      parameters:
        - $ref: '#/components/parameters/AssignmentId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverAssignment'

  /driver/bookings/{bookingNumber}/start-route:
    post:
      tags: [Driver]
      summary: Start route to pickup
      description: Requires authenticated DRIVER role and an active assignment. Transitions DRIVER_ASSIGNED to ON_ROUTE through BookingStatusService.
      operationId: driverStartOnRoute
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverBookingDetail'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/QrOperationConflict'

  /driver/bookings/{bookingNumber}/arrive:
    post:
      tags: [Driver]
      summary: Mark driver arrived
      description: Requires authenticated DRIVER role and an active assignment. Transitions ON_ROUTE to DRIVER_ARRIVED through BookingStatusService.
      operationId: driverMarkArrived
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverBookingDetail'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/QrOperationConflict'

  /driver/bookings/{bookingNumber}/complete:
    post:
      tags: [Driver]
      summary: Complete trip
      description: Requires authenticated DRIVER role and an active assignment. Transitions DRIVER_ARRIVED to COMPLETED through BookingStatusService.
      operationId: driverCompleteTrip
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverBookingDetail'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/QrOperationConflict'

  /driver/bookings/{bookingNumber}/scan-boarding:
    post:
      tags: [Driver]
      summary: Scan boarding QR
      description: Requires authenticated DRIVER role and an active assignment. Consumes the boarding QR atomically, transitions DRIVER_ARRIVED to PICKED_UP through BookingStatusService, and activates dropoff QR state.
      operationId: driverScanBoardingQr
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverQrScanRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverBookingDetail'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/QrOperationConflict'

  /driver/bookings/{bookingNumber}/scan-dropoff:
    post:
      tags: [Driver]
      summary: Scan dropoff QR
      description: Requires authenticated DRIVER role and an active assignment. Consumes the dropoff QR atomically and transitions PICKED_UP to COMPLETED through BookingStatusService.
      operationId: driverScanDropoffQr
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverQrScanRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverBookingDetail'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/QrOperationConflict'

  /vehicles/types:
    get:
      tags: [Vehicle]
      summary: List vehicle types
      security: []
      operationId: listVehicleTypes
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseVehicleTypeList'

  /vehicles/prices:
    get:
      tags: [Vehicle]
      summary: List default vehicle prices
      security: []
      operationId: listVehiclePrices
      parameters:
        - name: serviceTypeCode
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/ServiceType'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseVehiclePriceList'

  /airports:
    get:
      tags: [Airport]
      summary: List airports
      security: []
      operationId: listAirports
      parameters:
        - name: isActive
          in: query
          schema:
            type: boolean
            default: true
        - name: countryCode
          in: query
          schema:
            type: string
            minLength: 2
            maxLength: 2
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAirportList'

  /airports/{iataCode}:
    get:
      tags: [Airport]
      summary: Get airport by IATA
      security: []
      operationId: getAirport
      parameters:
        - name: iataCode
          in: path
          required: true
          schema:
            type: string
            pattern: '^[A-Z]{3}$'
          example: BKK
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAirport'
        '404':
          $ref: '#/components/responses/NotFound'

  /golf-courses:
    get:
      tags: [Golf]
      summary: List golf courses
      security: []
      operationId: listGolfCourses
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: region
          in: query
          schema:
            type: string
        - name: isActive
          in: query
          schema:
            type: boolean
            default: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGolfCoursePagination'

  /golf-regions:
    get:
      tags: [Golf]
      summary: List golf regions
      security: []
      operationId: listGolfRegions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseStringList'

  /chat/rooms/{roomCode}:
    get:
      tags: [Chat]
      summary: Get chat room
      operationId: getChatRoom
      parameters:
        - $ref: '#/components/parameters/RoomCode'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChatRoom'
        '404':
          $ref: '#/components/responses/NotFound'

  /chat/rooms:
    post:
      tags: [Chat]
      summary: Create chat room
      description: Normally auto-created on booking. Admin recovery use.
      operationId: createChatRoom
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [bookingNumber]
              properties:
                bookingNumber:
                  type: string
                  pattern: '^TX[0-9]{14}$'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChatRoom'

  /chat/rooms/{roomCode}/messages:
    get:
      tags: [Chat]
      summary: List chat messages
      operationId: listChatMessages
      parameters:
        - $ref: '#/components/parameters/RoomCode'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: beforeId
          in: query
          schema:
            type: integer
            format: int64
          description: Cursor for pagination
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChatMessagePagination'
    post:
      tags: [Chat]
      summary: Send message (REST fallback)
      operationId: sendChatMessage
      parameters:
        - $ref: '#/components/parameters/RoomCode'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMessageSendRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChatMessage'

  /chat/rooms/{roomCode}/read:
    post:
      tags: [Chat]
      summary: Mark messages as read
      operationId: markChatRead
      parameters:
        - $ref: '#/components/parameters/RoomCode'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                lastReadMessageId:
                  type: integer
                  format: int64
      responses:
        '200':
          $ref: '#/components/responses/SuccessEmpty'

  /chat/rooms/{roomCode}/files:
    post:
      tags: [Chat]
      summary: Upload chat file
      operationId: uploadChatFile
      parameters:
        - $ref: '#/components/parameters/RoomCode'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                replyMessageId:
                  type: integer
                  format: int64
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChatFileUpload'
        '400':
          $ref: '#/components/responses/ValidationError'

  /notifications:
    get:
      tags: [Notification]
      summary: List notifications
      operationId: listNotifications
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: isRead
          in: query
          schema:
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotificationPagination'

  /notifications/{id}/read:
    patch:
      tags: [Notification]
      summary: Mark notification read
      operationId: markNotificationRead
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          $ref: '#/components/responses/SuccessEmpty'

  /notifications/devices:
    get:
      tags: [Notification]
      summary: List registered notification devices
      description: Returns metadata only. Raw FCM tokens are never returned.
      operationId: listNotificationDevices
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotificationDeviceList'
    post:
      tags: [Notification]
      summary: Register FCM device token
      description: ADMIN, SUPER_ADMIN, and DRIVER users may register device tokens. Re-registering the same token updates ownership and lastSeenAt.
      operationId: registerNotificationDevice
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationDeviceRegistrationRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotificationDevice'

  /notifications/devices/{deviceId}:
    delete:
      tags: [Notification]
      summary: Deactivate registered notification device
      operationId: deleteNotificationDevice
      security:
        - bearerAuth: []
      parameters:
        - name: deviceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          $ref: '#/components/responses/SuccessEmpty'

  /public/bookings/{bookingId}/notification-devices:
    post:
      tags: [Notification]
      summary: Register guest booking FCM device token
      description: Requires X-Guest-Access-Token for the same booking. Raw FCM tokens are never returned.
      operationId: registerGuestBookingNotificationDevice
      security:
        - guestReviewAccessHeader: []
      parameters:
        - name: bookingId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationDeviceRegistrationRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotificationDevice'

  /public/bookings/{bookingId}/notification-devices/{deviceId}:
    delete:
      tags: [Notification]
      summary: Deactivate guest booking notification device
      operationId: deleteGuestBookingNotificationDevice
      security:
        - guestReviewAccessHeader: []
      parameters:
        - name: bookingId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: deviceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          $ref: '#/components/responses/SuccessEmpty'

  /public/bookings/{bookingId}/driver-location:
    get:
      tags: [Public]
      summary: Get assigned driver location for a guest booking
      description: Requires X-Guest-Access-Token and only returns the actively assigned driver for this booking.
      operationId: getGuestBookingDriverLocation
      security:
        - guestReviewAccessHeader: []
      parameters:
        - name: bookingId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGuestDriverLocation'

  /admin/dashboard/metrics:
    get:
      tags: [Admin]
      summary: Admin operational dashboard metrics
      description: Requires JWT bearer auth. Allowed roles ADMIN and SUPER_ADMIN only. Daily metrics use the Asia/Bangkok service day.
      operationId: adminDashboardMetrics
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDashboard'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/bookings:
    get:
      tags: [Admin]
      summary: Search admin booking dispatch queue
      description: Requires JWT bearer auth. Allowed roles ADMIN and SUPER_ADMIN only.
      operationId: adminListBookings
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: status
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
        - name: assignmentState
          in: query
          schema:
            type: string
            enum: [ASSIGNED, UNASSIGNED]
        - name: serviceDateFrom
          in: query
          schema:
            type: string
            format: date
        - name: serviceDateTo
          in: query
          schema:
            type: string
            format: date
        - name: driverId
          in: query
          schema:
            type: integer
            format: int64
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminBookingQueuePagination'

  /admin/bookings/{bookingNumber}:
    get:
      tags: [Admin]
      summary: Get admin booking detail
      operationId: adminGetBooking
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminBookingDetail'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Admin]
      summary: Admin update booking
      operationId: adminUpdateBooking
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminBookingUpdateRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBookingResponse'

  /admin/bookings/{bookingNumber}/assign-driver:
    post:
      tags: [Admin]
      summary: Assign driver to booking
      operationId: adminAssignDriver
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverAssignRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverAssignmentResponse'
        '409':
          $ref: '#/components/responses/DriverNotAvailable'

  /admin/bookings/{bookingNumber}/reassign-driver:
    post:
      tags: [Admin]
      summary: Reassign booking to another driver
      operationId: adminReassignDriver
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverReassignRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverAssignmentResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Assignment conflict or invalid status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /admin/bookings/{bookingNumber}/driver-candidates:
    get:
      tags: [Admin]
      summary: List scored driver candidates for automatic assignment
      operationId: adminGetDriverCandidates
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverCandidatePreview'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Booking not eligible for driver recommendation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /admin/bookings/{bookingNumber}/auto-assign:
    post:
      tags: [Admin]
      summary: Assign recommended or selected driver after eligibility re-check
      operationId: adminAutoAssignDriver
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverAutoAssignRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverAssignmentResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Assignment conflict or driver no longer eligible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /admin/bookings/{bookingNumber}/qr/reissue:
    post:
      tags: [Admin]
      summary: Reissue one-time QR token for local development testing
      description: Requires ALLOW_DEV_QR_REISSUE=true and non-production NODE_ENV.
      operationId: adminReissueBookingQr
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminQrReissueRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminQrReissueResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Booking status does not allow QR reissue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /admin/bookings/{bookingNumber}/unassign-driver:
    post:
      tags: [Admin]
      summary: Unassign driver
      operationId: adminUnassignDriver
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          $ref: '#/components/responses/SuccessEmpty'

  /admin/bookings/{bookingNumber}/notes:
    get:
      tags: [Admin]
      summary: List admin notes
      operationId: adminListBookingNotes
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminNoteList'
    post:
      tags: [Admin]
      summary: Create admin note
      operationId: adminCreateBookingNote
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminNoteCreateRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminNote'

  /admin/drivers:
    get:
      tags: [Admin]
      summary: List drivers for manual assignment
      operationId: adminListDrivers
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverList'
    post:
      tags: [Admin]
      summary: Create driver
      operationId: adminCreateDriver
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverCreateRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriver'

  /admin/drivers/locations:
    get:
      tags: [Admin]
      summary: List active driver locations for fleet monitoring
      operationId: adminListDriverLocations
      security:
        - bearerAuth: []
      parameters:
        - name: onlineOnly
          in: query
          schema:
            type: boolean
            default: false
        - name: activeJobOnly
          in: query
          schema:
            type: boolean
            default: false
        - name: staleOnly
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverLocationList'

  /admin/settlements:
    get:
      tags: [Admin]
      summary: List commission settlements
      description: Requires JWT bearer auth. Allowed roles ADMIN and SUPER_ADMIN only.
      operationId: adminListSettlements
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSettlementPagination'

  /admin/settlements/{bookingNumber}/approve:
    post:
      tags: [Admin]
      summary: Approve settlement
      operationId: adminApproveSettlement
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSettlementDetail'

  /admin/settlements/{bookingNumber}/reject:
    post:
      tags: [Admin]
      summary: Reject settlement receipt
      operationId: adminRejectSettlement
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettlementRejectRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSettlementDetail'

  /driver/settlements:
    get:
      tags: [Driver]
      summary: List driver settlements
      operationId: driverListSettlements
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverSettlementList'

  /driver/settlements/{bookingNumber}/receipt:
    post:
      tags: [Driver]
      summary: Upload commission receipt
      operationId: driverUploadSettlementReceipt
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: Receipt image (JPEG, PNG) or PDF. Max size from UPLOAD_MAX_FILE_SIZE_MB env (default 10 MB).
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSettlementItem'
        '400':
          description: Invalid file type, MIME mismatch, or file too large (FILE_TOO_LARGE)
        '409':
          description: Receipt already approved (RECEIPT_ALREADY_APPROVED)

  /admin/reviews:
    get:
      tags: [Admin]
      summary: List customer reviews
      description: Requires JWT bearer auth. Allowed roles ADMIN and SUPER_ADMIN only.
      operationId: adminListReviews
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseReviewPagination'

  /admin/reviews/{reviewId}/hide:
    post:
      tags: [Admin]
      summary: Hide review
      operationId: adminHideReview
      security:
        - bearerAuth: []
      parameters:
        - name: reviewId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewHideRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseReviewDetail'

  /admin/reviews/{reviewId}/restore:
    post:
      tags: [Admin]
      summary: Restore hidden review
      operationId: adminRestoreReview
      security:
        - bearerAuth: []
      parameters:
        - name: reviewId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseReviewDetail'

  /admin/reviews/{reviewId}:
    get:
      tags: [Admin]
      summary: Get review detail
      operationId: adminGetReview
      security:
        - bearerAuth: []
      parameters:
        - name: reviewId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseReviewDetail'

  /admin/notifications:
    get:
      tags: [Admin]
      summary: List admin notifications
      description: Each admin sees only notifications addressed to their user account.
      operationId: listAdminNotifications
      security:
        - bearerAuth: []
      parameters:
        - name: unreadOnly
          in: query
          schema:
            type: boolean
        - name: notificationType
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedNotificationList'
  /admin/notifications/unread-count:
    get:
      tags: [Admin]
      summary: Admin unread notification count
      operationId: adminNotificationUnreadCount
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnreadCount'
  /admin/notifications/deliveries:
    get:
      tags: [Admin]
      summary: List notification delivery statuses
      description: >
        ADMIN and SUPER_ADMIN only. Returns operational delivery metadata without
        recipient emails, tokens, notification bodies, or customer personal data.
      operationId: listAdminNotificationDeliveries
      security:
        - bearerAuth: []
      parameters:
        - name: channel
          in: query
          schema:
            type: string
            enum: [IN_APP, EMAIL, FCM]
        - name: deliveryStatus
          in: query
          schema:
            type: string
            enum: [PENDING, DELIVERED, SKIPPED, FAILED]
        - name: notificationType
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedNotificationDeliveryList'
  /admin/notifications/read-all:
    post:
      tags: [Admin]
      summary: Mark all admin notifications read
      operationId: adminNotificationsReadAll
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseMarkAllRead'
  /admin/notifications/{notificationId}/read:
    post:
      tags: [Admin]
      summary: Mark admin notification read
      operationId: adminNotificationRead
      security:
        - bearerAuth: []
      parameters:
        - name: notificationId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotificationRead'

  /admin/flights:
    get:
      tags: [Admin]
      summary: List airport pickup flights for monitoring
      description: >
        ADMIN and SUPER_ADMIN only. Returns airport pickup bookings with a flight
        number. Does not include customer personal data.
      operationId: listAdminFlights
      security:
        - bearerAuth: []
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: flightNumber
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [SCHEDULED, ACTIVE, DELAYED, LANDED, CANCELLED, DIVERTED, UNKNOWN]
        - name: delayedOnly
          in: query
          schema:
            type: boolean
        - name: bookingNumber
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAdminFlightList'
  /admin/flights/sync-status:
    get:
      tags: [Admin]
      summary: Get automatic flight sync worker status
      operationId: getAdminFlightSyncStatus
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseFlightSyncStatus'
  /admin/flights/run-sync-cycle:
    post:
      tags: [Admin]
      summary: Run one automatic flight sync cycle
      operationId: runAdminFlightSyncCycle
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseFlightSyncCycle'
  /admin/flights/{bookingId}:
    get:
      tags: [Admin]
      summary: Get flight monitor detail for a booking
      operationId: getAdminFlightDetail
      security:
        - bearerAuth: []
      parameters:
        - name: bookingId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminFlightDetail'
  /admin/flights/{bookingId}/sync:
    post:
      tags: [Admin]
      summary: Manually sync flight data for a booking
      operationId: syncAdminFlight
      security:
        - bearerAuth: []
      parameters:
        - name: bookingId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminFlightDetail'

  /driver/rating-summary:
    get:
      tags: [Driver]
      summary: Get driver rating summary
      description: >
        Returns averageRating and reviewCount from VISIBLE reviews only.
        Hidden reviews are excluded immediately; restored reviews are included.
        Does not return customer names, comments, phone, email, booking numbers,
        or moderation reasons.
      operationId: driverRatingSummary
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverRatingSummary'

  /driver/notifications:
    get:
      tags: [Driver]
      summary: List driver notifications
      operationId: listDriverNotifications
      security:
        - bearerAuth: []
      parameters:
        - name: unreadOnly
          in: query
          schema:
            type: boolean
        - name: notificationType
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedNotificationList'
  /driver/notifications/unread-count:
    get:
      tags: [Driver]
      summary: Driver unread notification count
      operationId: driverNotificationUnreadCount
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUnreadCount'
  /driver/notifications/read-all:
    post:
      tags: [Driver]
      summary: Mark all driver notifications read
      operationId: driverNotificationsReadAll
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseMarkAllRead'
  /driver/notifications/{notificationId}/read:
    post:
      tags: [Driver]
      summary: Mark driver notification read
      operationId: driverNotificationRead
      security:
        - bearerAuth: []
      parameters:
        - name: notificationId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseNotificationRead'

  /admin/drivers/{id}:
    get:
      tags: [Admin]
      summary: Get driver
      operationId: adminGetDriver
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriver'
    patch:
      tags: [Admin]
      summary: Update driver
      operationId: adminUpdateDriver
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverUpdateRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriver'
    delete:
      tags: [Admin]
      summary: Soft delete driver
      operationId: adminDeleteDriver
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '204':
          description: Deleted

  /admin/pricing/summary:
    get:
      tags: [Admin]
      summary: Pricing manager summary counts
      operationId: adminPricingSummary
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePricingSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/pricing/simulate:
    post:
      tags: [Admin]
      summary: Simulate pricing quote for admin review
      operationId: adminPricingSimulate
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PricingSimulateRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePricingSimulate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/routes:
    get:
      tags: [Admin]
      summary: List pricing routes
      operationId: adminListRoutes
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRouteList'
    post:
      tags: [Admin]
      summary: Create pricing route
      operationId: adminCreateRoute
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteCreateRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRoute'

  /admin/routes/{id}:
    patch:
      tags: [Admin]
      summary: Update pricing route
      operationId: adminUpdateRoute
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteUpdateRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRoute'

  /admin/routes/{id}/copy:
    post:
      tags: [Admin]
      summary: Copy route and vehicle prices
      operationId: adminCopyRoute
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteCopyRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRouteCopy'

  /admin/charge-policies:
    get:
      tags: [Admin]
      summary: List charge policies
      operationId: adminListChargePolicies
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChargePolicyList'
    post:
      tags: [Admin]
      summary: Create charge policy
      operationId: adminCreateChargePolicy
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargePolicyCreateRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChargePolicy'

  /admin/charge-policies/{id}:
    patch:
      tags: [Admin]
      summary: Update charge policy
      operationId: adminUpdateChargePolicy
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargePolicyUpdateRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChargePolicy'

  /admin/vehicle-prices:
    get:
      tags: [Admin]
      summary: List vehicle prices
      operationId: adminListVehiclePrices
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseVehiclePriceList'
    patch:
      tags: [Admin]
      summary: Update vehicle price
      operationId: adminUpdateVehiclePrice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehiclePriceUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessEmpty'

  /admin/vehicle-price-rules:
    get:
      tags: [Admin]
      summary: List price rules
      operationId: adminListPriceRules
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePriceRuleList'
    post:
      tags: [Admin]
      summary: Create price rule
      operationId: adminCreatePriceRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceRuleCreateRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePriceRule'

  /admin/golf-courses:
    get:
      tags: [Admin]
      summary: List golf courses (admin)
      operationId: adminListGolfCourses
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGolfCoursePagination'
    post:
      tags: [Admin]
      summary: Create golf course
      operationId: adminCreateGolfCourse
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GolfCourseCreateRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGolfCourse'

  /admin/golf-courses/{id}:
    patch:
      tags: [Admin]
      summary: Update golf course
      operationId: adminUpdateGolfCourse
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GolfCourseUpdateRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGolfCourse'
    delete:
      tags: [Admin]
      summary: Delete golf course
      operationId: adminDeleteGolfCourse
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '204':
          description: Deleted

  /admin/airports:
    get:
      tags: [Admin]
      summary: List airports (admin)
      operationId: adminListAirports
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAirportList'
    post:
      tags: [Admin]
      summary: Create airport
      operationId: adminCreateAirport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirportCreateRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAirport'

  /admin/airports/{id}:
    patch:
      tags: [Admin]
      summary: Update airport
      operationId: adminUpdateAirport
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirportUpdateRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAirport'

  /admin/users:
    get:
      tags: [Admin]
      summary: List users
      operationId: adminListUsers
      parameters:
        - name: role
          in: query
          schema:
            $ref: '#/components/schemas/UserRole'
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUserList'
    post:
      tags: [Admin]
      summary: Create user (admin/driver)
      operationId: adminCreateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserCreateRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUser'

  /admin/users/{id}:
    patch:
      tags: [Admin]
      summary: Update user
      operationId: adminUpdateUser
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserUpdateRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUser'

  /admin/chats:
    get:
      tags: [Admin]
      summary: List operational booking chat rooms
      operationId: adminListChats
      parameters:
        - name: search
          in: query
          schema:
            type: string
        - name: unreadOnly
          in: query
          schema:
            type: boolean
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseAdminChatList'

  /admin/chats/{bookingNumber}:
    get:
      tags: [Admin]
      summary: Get admin booking chat room
      operationId: adminGetChatRoom
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChatRoom'

  /admin/chats/{bookingNumber}/messages:
    get:
      tags: [Admin]
      summary: List admin booking chat messages
      operationId: adminListChatMessages
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
        - name: cursor
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
            maximum: 100
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChatMessageList'
    post:
      tags: [Admin]
      summary: Send admin booking chat message
      operationId: adminSendChatMessage
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatSendMessageRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChatMessage'

  /admin/chats/{bookingNumber}/read:
    post:
      tags: [Admin]
      summary: Mark admin booking chat read
      operationId: adminMarkChatRead
      parameters:
        - $ref: '#/components/parameters/BookingNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMarkReadRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseChatReadState'

  /admin/translations:
    get:
      tags: [Admin]
      summary: List translations
      operationId: adminListTranslations
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseTranslationAdminList'
    post:
      tags: [Admin]
      summary: Create or update translation key
      operationId: adminUpsertTranslation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslationUpsertRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseTranslation'

  /admin/notifications/broadcast:
    post:
      tags: [Admin]
      summary: Broadcast notification
      operationId: adminBroadcastNotification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BroadcastNotificationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessEmpty'

  /admin/settings:
    get:
      tags: [Admin]
      summary: List all settings
      operationId: adminListSettings
      parameters:
        - name: group
          in: query
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSettingsList'

  /admin/settings/{group}/{key}:
    put:
      tags: [Admin]
      summary: Update setting
      operationId: adminUpdateSetting
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: string
        - name: key
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingUpdateRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSetting'

  /settings/public:
    get:
      tags: [Settings]
      summary: Public settings
      security: []
      operationId: getPublicSettings
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePublicSettings'

  /translations:
    get:
      tags: [Translation]
      summary: Get translations by locale
      security: []
      operationId: getTranslations
      parameters:
        - name: locale
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Locale'
        - name: category
          in: query
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseTranslationBundle'

  /translations/bundle:
    get:
      tags: [Translation]
      summary: Full translation bundle for app bootstrap
      security: []
      operationId: getTranslationBundle
      parameters:
        - name: locale
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Locale'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseTranslationBundle'

  /places/autocomplete:
    get:
      tags: [Proxy]
      summary: Google Places autocomplete
      security: []
      operationId: placesAutocomplete
      parameters:
        - name: input
          in: query
          required: true
          schema:
            type: string
            minLength: 2
        - name: language
          in: query
          schema:
            $ref: '#/components/schemas/Locale'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePlacesAutocomplete'
        '503':
          $ref: '#/components/responses/GooglePlaceNotFound'

  /places/details:
    get:
      tags: [Proxy]
      summary: Google Place details
      security: []
      operationId: placesDetails
      parameters:
        - name: placeId
          in: query
          required: true
          schema:
            type: string
        - name: language
          in: query
          schema:
            $ref: '#/components/schemas/Locale'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePlaceDetails'
        '404':
          $ref: '#/components/responses/GooglePlaceNotFound'

  /flights:
    get:
      tags: [Proxy]
      summary: Flight lookup (AviationStack)
      security: []
      operationId: getFlight
      parameters:
        - name: flightNumber
          in: query
          required: true
          schema:
            type: string
          example: KE651
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseFlightInfo'
        '404':
          $ref: '#/components/responses/FlightNotFound'

  /public/flights/search:
    get:
      tags: [Proxy]
      summary: Public flight lookup for booking wizard
      security: []
      operationId: searchPublicFlights
      parameters:
        - name: flightNumber
          in: query
          required: true
          schema:
            type: string
          example: TG409
        - name: flightDate
          in: query
          required: true
          schema:
            type: string
            format: date
          example: '2026-07-01'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseFlightInfo'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/FlightNotFound'
        '429':
          $ref: '#/components/responses/FlightProviderError'
        '502':
          $ref: '#/components/responses/FlightProviderError'
        '503':
          $ref: '#/components/responses/FlightProviderError'
        '504':
          $ref: '#/components/responses/FlightProviderError'

  /public/bookings/lookup:
    post:
      tags: [Booking]
      summary: Guest booking lookup
      description: >
        Public lookup for guests using booking number and the exact booking phone
        number after formatting normalization. Returns a sanitized booking summary
        and a short-lived guest access token for existing customer booking actions.
        Raw QR tokens, QR hashes, user IDs, emails, commission data, internal notes,
        and activity logs are never returned.
      security: []
      operationId: lookupGuestBooking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestBookingLookupRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseGuestBookingLookup'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'

  /driver-applications:
    post:
      tags: [Driver]
      summary: Submit driver registration application
      description: >
        Public intake endpoint for prospective drivers. Creates only a
        driver_applications row; users and drivers are created later by admin
        approval. The status token is returned only in this response.
      security: []
      operationId: submitDriverApplication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverApplicationCreateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DriverApplicationMultipartRequest'
      responses:
        '201':
          description: Driver application submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverApplicationSubmit'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/DuplicateError'
        '429':
          $ref: '#/components/responses/RateLimit'

  /driver-applications/status:
    get:
      tags: [Driver]
      summary: Check driver application status
      security: []
      operationId: getDriverApplicationStatus
      parameters:
        - name: applicationNumber
          in: query
          required: true
          schema:
            type: string
            pattern: '^DA[0-9A-F]{14}$'
        - name: token
          in: query
          required: true
          schema:
            type: string
            minLength: 32
            maxLength: 128
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverApplicationStatus'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'

  /driver-applications/{applicationNumber}/resubmit:
    post:
      tags: [Driver]
      summary: Resubmit rejected driver application
      security: []
      operationId: resubmitDriverApplication
      parameters:
        - name: applicationNumber
          in: path
          required: true
          schema:
            type: string
            pattern: '^DA[0-9A-F]{14}$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DriverApplicationCreateRequest'
                - type: object
                  required: [token]
                  properties:
                    token:
                      type: string
                      minLength: 32
                      maxLength: 128
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/DriverApplicationMultipartRequest'
                - type: object
                  required: [token]
                  properties:
                    token:
                      type: string
                      minLength: 32
                      maxLength: 128
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverApplicationSubmit'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/DuplicateError'
        '422':
          $ref: '#/components/responses/InvalidStatusTransition'
        '429':
          $ref: '#/components/responses/RateLimit'

  /admin/driver-applications:
    get:
      tags: [Admin]
      summary: List driver registration applications
      operationId: adminListDriverApplications
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/DriverApplicationStatus'
        - name: countryCode
          in: query
          schema:
            type: string
            minLength: 2
            maxLength: 2
        - name: vehicleTypeCode
          in: query
          schema:
            type: string
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          schema:
            type: string
            format: date
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDriverApplicationAdminList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/driver-applications/{id}:
    get:
      tags: [Admin]
      summary: Get driver application detail
      operationId: adminGetDriverApplication
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          content:
            application/json:
              schema:
[...]
