**/.git
**/.gitignore
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/uploads
**/logs
backend/uploads
backend/logs
frontend/build
frontend/.dart_tool
**/*.md
!frontend/assets/legal/*.md
docs
deploy/pm2
.cursor
